<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @room.title %>
</p>

<p>
  <b>Number:</b>
  <%= @room.number %>
</p>

<p>
  <b>Img:</b>
  <%= @room.img %>
</p>

<p>
  <b>Capacity:</b>
  <%= @room.capacity %>
</p>

<p>
  <b>Hotel:</b>
  <%= @room.hotel %>
</p>

<p>
  <b>Price:</b>
  <%= @room.price %>
</p>


<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
